---
easyrsa_use_tls_auth: True
easyrsa_key_country: "DE"
easyrsa_key_province: "SomeProvince"
easyrsa_key_city: "SomeCity"
easyrsa_key_org: "SomeOrganisation"
easyrsa_key_email: "someemqil@localhost"
easyrsa_key_cn: "my.domain"
easyrsa_key_name: "SomeKeyName"
easyrsa_key_ou: "SomeOperationalUnit"
easyrsa_key_size: 4096
easyrsa_key_expire: 3650
easyrsa_ca_expire: 3650
easyrsa_server_cn: "server.my.domain"
easyrsa_clients:
- name: clientOne
  state: present
- name: clientTwo
  state: present
- name: clientThree
  state: present
...
